:root{
    --gris: #6B7280;
    --morado: #6C3FEB;
    --celeste: #96F7E4;
    --blanco: #ECFEFF;
}

/*----- Sidebar */
    .sidebar {
        @apply flex flex-col h-full;
        padding: 1em;
    }

    /* Ancho */
    .sidebar--default {
        width: 22%;
    }

    .sidebar--container{
        @apply flex flex-col h-full;
        padding: 1em;
        border-radius: 1em;
        background-color: var(--celeste);
    }

    .sidebar--logo{
        @apply w-full justify-between items-center gap-2.5 inline-flex;
        margin-bottom: 1em;
    }

    .sidebar--container ul{
        color: var(--morado)!important;
    }

    .sidebar--container ul li button{
        width: 100%;
        border-radius: 1em;
        transition: all 0.3s ease-in-out;
    }

    .sidebar--container ul li button:hover{
        background-color: var(--blanco);
        padding-left: 1em;
    }   

    .sidebar--container ul li .sidebar--btn--active,
    .sidebar--container ul li .sidebar--btn--active:hover{
        border: 1px solid var(--morado)!important;
        background-color: transparent!important;
        color: var(--morado)!important;
        padding: 0;
    }
    .sidebar--container ul li .sidebar--btn--active h2{
        color: var(--gris)!important;
    }

    .sidebar--down{
        @apply w-full flex-col flex mt-auto;
        color: var(--morado)!important;
    }

    .sidebar--container h6{
        padding: .5em;
        border-radius: .5em;
        font-size: 1em;
        text-align: right;
        width: 100%;
        background-color: var(--morado)!important;
        color: var(--blanco)!important;
        margin-bottom: 1em;
    }

    .sidebar--container h2{
        font-size: 1em;
    }

    /* Items */
    .sidebar-item {
        @apply p-3 rounded-lg flex items-center gap-3 text-gray-500 hover:bg-gray-100 hover:text-indigo-600 transition;
    }

    /* Iconos */
    .sidebar-icon {
        @apply size-5;
    }

    /* Activo */
    .sidebar-item--active {
        @apply bg-indigo-50 text-indigo-600 font-medium;
    }

 /*---- CUERPO PRINCIPAL ----*/
    .body{
        @apply flex flex-col h-full w-full;
        padding: 1em!important;
    }
    .body-container{
        @apply flex h-full;
        background-color: var(--blanco);
        border-radius: 1em;
        overflow: hidden;
    }

    .body main{
        @apply overflow-y-auto;
    }