/* Sidebar base */
.sidebar {
    @apply flex flex-col h-full;
    padding: 1em;
}

/* Ancho */
.sidebar--default {
    @apply w-64;
}

.sidebar--container{
    @apply flex flex-col h-full;
    padding: 1em;
    border-radius: 1em;
    background-color: #96F7E4;
}

.sidebar--logo{
    @apply w-full justify-between items-center gap-2.5 inline-flex;
    margin-bottom: 1em;
}

.sidebar--container ul{
    color: #6C3FEB!important;
}

.sidebar--container ul li button{
    width: 100%;
    border-radius: 1em;
}

.sidebar--container ul li button:hover{
    background-color: #fff;
    transition: background-color 0.3s ease;
}   

.sidebar--down{
    @apply w-full flex-col flex mt-auto;
    color: #6C3FEB!important;
}

.sidebar--container h6{
    padding: .5em;
    border-radius: .5em;
    font-size: 1em;
    text-align: right;
    width: 100%;
    background-color: #6C3FEB!important;
    color: white!important;
    margin-bottom: 1em;
}

/* Items */
.sidebar-item {
    @apply p-3 rounded-lg flex items-center gap-3 text-gray-500 hover:bg-gray-100 hover:text-indigo-600 transition;
}

/* Iconos */
.sidebar-icon {
    @apply size-5;
}

/* Activo */
.sidebar-item--active {
    @apply bg-indigo-50 text-indigo-600 font-medium;
}
